@charset "UTF-8";

body{
    background-image: url("../exercicio-background-img/imagens/wallpaper001.jpg");
}

div.quadrado{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color:lightgray;
}
.quadrado#q1{
    background-color:skyblue;
}
.quadrado#q2{
    background-image:linear-gradient(to bottom, yellow, red);
}
.quadrado#q3{
    background-image: url("../exercicio-background-img/imagens/pattern003.png");
}